<html>
    <head>
        <meta name="viewport" content= "width=device-width, initial-scale=1.0"> 
        <title>{{ header }}</title>
        <!-- Relavant links -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css.map') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <style>
        </style>
    </head>
    <body>
        <div class="container">

            <!-- Sep -->
            <div class="row text-right"  style="padding-top: 10px; height: 40px;">
                    <div class="col-12"></div>
            </div>

            <!-- Title -->
            <div class="row">
                <div class="col-12 text-center">
                    <h1><i>ExpressPredict</i></h1>
                </div>
            </div>

            <!-- Errors -->
            <div class="row">
                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                    {% if errors %}
                        {% for error in errors %}
                            {{ error }}<br>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            
                {% if form.errors %}
                    {% for field, error in form.errors.items() %}
                        {% for e in error %}
                            {{ e }}<br>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
            <br />
            <br />
            <br />
            <!-- Sign-Up Form -->
            <div class="row">
                <div class="col-3 text-center"></div>
                <div class="col-6">
                    <br />
                    <h3 class="text-center">New User Sign-up</h3>
                    <hr>
                    <form method="POST" action="." role="form">
                            {{ form.csrf_token }}
                            <label>First Name</label>
                            {{ form.first(class_='form-control', placeholder="...") }}<br />
                            <label>Last Name</label>
                            {{ form.last(class_='form-control', placeholder="...") }}<br />
                            <label>Email Address</label>
                            {{ form.email(class_='form-control', placeholder="...") }}<br />
                            <label>Password</label>
                            {{ form.password(class_='form-control', placeholder="***") }}
                            <br />
                            <div class="col-12 text-center">
                                <button class="btn btn-md btn-landing" type="submit" name="submit">Submit</button>
                            </form>
                    </form>
                </div>
                <div class="col-3 text-center"></div>
            </div>
        </div>
    </body>
</html>