<html>
    <head>
        <meta name="viewport" content= "width=device-width, initial-scale=1.0"> 
        <title>{{ header }}</title>
        <!-- Relavant links -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css.map') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <style>
            a{
                text-decoration: none;
            }

            a:visited{
                color: aliceblue;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">

            <div class="row">
                <!-- Sidebar -->
                <div class="col-2 sidebar text-center">
                    <br />
                        <h3>ExpressConnect</h3>
                        <br />
                        <br />
                        <br />
                        <br />
                        <h5>Modules</h5>
                        <hr>
                        <ul class="menu-list">
                            <li>Explore
                                <ul>
                                    <li><a href="/explore/time">Time-Series</li>
                                    <li><a href="/explore/regression"></a>Regression</li>
                                    <li><a href="/explore/classifcation"></a>Classification</li>
                                </ul>
                            </li>
                            <li>Analyze
                                <ul>
                                    <li><a href="/explore/time">Time-Series</li>
                                    <li><a href="/explore/regression"></a>Regression</li>
                                    <li><a href="/explore/classifcation"></a>Classification</li>
                                </ul>
                            </li>
                            <li><a href="Big Data">Big Data</a></li>
                        </ul>
                </div>
                <div class="col-12">
                    <!-- Login / Signup --> 
                    <div class="row text-right"  style="padding-top: 10px; height: 40px;">
                        <div class="col-12">
                            <a href="auth/logout"><button class="btn btn-sm btn-landing"  style="margin-right: 20px;">Logout</button></a>
                        </div>
                    </div>


                    <!-- Title -->
                    <div class="row title text-center">
                        <div class="col-12">
                            <br />
                            <h1><i>Regression Exploration</i></h1>
                        </div>
                    </div>
                    <br />
                    <br />


                    <!-- Brief Description -->
                    <div class="row description text-center">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <!-- <h3>Information</h3><hr> -->
                            <p>              
                                Exploration and visualization is an indespensible step in effetcivly understanding you data.   
                                In this module you can upload our regression data our semi-autonomous exploration algorithm will 
                                attempt to analyze and give you some insight. These include heatmaps, plots and
                                statictical information. (Single regression only at this time!)
                            </p>
                        </div>
                        <div class="col-4"></div>
                        <br />
                        <br />
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />


                    <!-- File Upload -->
                    <div class="row examples text-center">
                        <div class="col-4"></div>
                        <div class="col-4">
                                <h3 class="text-center">1. Upload a File</h3>
                                <hr>
                                <form method="POST" action="." role="form">
                                        {{ form.csrf_token }}
                                        <label>First Name</label>
                                        {{ form.data(class_='form-control') }}<br />
                                        <br />
                                        <div class="col-12 text-center">
                                            <button class="btn btn-md btn-landing" type="submit" name="submit">Submit</button>
                                        </form>
                                </form>
                        </div>
                        <div class="col-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>