@font-face{
    font-family: hk-medium;
    src: url('/static/fonts/HKGrotesk-Medium.otf');
}

body{
    background-color: aliceblue;
    font-family: hk-medium;
}

.btn-landing{
    background-color: #0c4c57;
    color: aliceblue;
    outline: none;
}

.sidebar{
    overflow:hidden;
    background-color: #0c4c57;
    color: aliceblue;
}

.parent-collapse{
    cursor: pointer;
}

.title {
    text-align: center;
}

.menu-list{
    list-style: none;
    list-style-position:inside;
        margin:0;
        padding:0;
}

.upload-title{
    cursor: pointer;
}